<!--<h3>Find By Age</h3>-->
<p></p>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input matInput placeholder="Age" id="age" required [(ngModel)]="age" name="age" pattern="-?[0-9]*(\.[0-9]+)?">
      <mat-error>Please put a number!</mat-error>
    </mat-form-field><p></p>

    <div class="btn-group">
      <button mat-raised-button color="accent">SUBMIT</button>
    </div>

  </form>
</div>
<br>
<div *ngFor="let customer of customers" style="width: 300px;">
  <customer-details [customer]='customer'></customer-details>
</div>
