<h3>Customers</h3>
<mat-tab-group animationDuration="2000ms">
  <mat-tab label="List">
    <div>
      <customers-list></customers-list>
    </div>
  </mat-tab>
  <mat-tab label="Create">
    <div>
      <create-customer></create-customer>
    </div>
  </mat-tab>
  <mat-tab label="Search">
    <div>
      <search-customers></search-customers>
    </div>
  </mat-tab>
  <mat-tab label="Edit" disabled>
    <div>
      <!--<search-customers></search-customers>-->
    </div>
  </mat-tab>
</mat-tab-group>
