<div id="polaroid">
  <figure>
    <img src="http://cssdemos.tupence.co.uk/assets/polaroid01.jpg" width="200" height="200" alt="Red mushroom" />
    <figcaption>Pretty red mushroom</figcaption>
  </figure>
  <figure>
    <img src="http://cssdemos.tupence.co.uk/assets/polaroid02.jpg" width="200" height="200" alt="Rainbow near Keswick" />
    <figcaption>Rainbow near Keswick</figcaption>
  </figure>
  <figure>
    <img src="http://cssdemos.tupence.co.uk/assets/polaroid03.jpg" width="200" height="200" alt="An old tree" />
    <figcaption>Nice old tree</figcaption>
  </figure>
</div><!--end polaroid-->
